[submodule "StreamDiffusionIO"]
	path = StreamDiffusionIO
	url = https://github.com/AgainstEntropy/StreamDiffusionIO.git
[submodule "demo"]
	path = demo
	url = https://github.com/AgainstEntropy/kanji-streaming-demo.git
