[submodule "StreamDiffusionIO"]
	path = StreamDiffusionIO
	url = git@github.com:AgainstEntropy/StreamDiffusionIO.git
[submodule "demo/llama-2-7b-chat"]
	path = demo/llama-2-7b-chat
	url = git@github.com:AgainstEntropy/llama-2-chat-gradio.git
